@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #E2E2E2;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  padding-top: 15px;
  padding-left: 15px;
}
.header .nav {
  padding-top: 25px;
  padding-right: 20%;
  display: none;
}
.header .nav .nav__link {
  text-decoration: none;
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  transition: color 0.3s ease-in-out;
}
.header .nav .nav__link:hover {
  color: #E95200;
}
.header .menu {
  padding-top: 27px;
  padding-right: 15px;
}

@media (min-width: 670px) {
  .header .nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
@media (min-width: 1070px) {
  .header {
    padding-left: 100px;
  }
  .header .logo {
    width: 100px;
  }
  .header .nav {
    padding-right: 10%;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-left: 200px;
  }
  .header .nav {
    padding-right: 15%;
  }
}
.contact-button {
  position: fixed;
  z-index: 2;
  bottom: 50px;
  right: 35px;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  background-image: url("images/Contact-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-image 0.3s ease-out;
}

.contact-button:hover {
  background-image: url("images/Contact-hover.svg");
}

.menu-btn {
  background: none;
  border: none;
  padding-top: 15px;
  cursor: pointer;
}
.menu-btn img {
  width: 30px;
  height: 30px;
}

nav {
  position: relative;
}
nav .left__circle {
  position: absolute;
  top: -230px;
  left: -90px;
}
nav .right__circle {
  position: absolute;
  top: 150px;
  left: 180px;
}

ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
ul .nav__text {
  text-decoration: none;
  font-family: "Manrope";
  font-size: 40px;
  font-weight: 600;
  color: #000000;
}
ul .nav__text:hover {
  color: #E95200;
}

.hidden {
  display: none;
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tours {
  margin-bottom: 100px;
}
.tours .tours__img {
  position: absolute;
  top: 25px;
}
.tours .tours__block {
  position: absolute;
  top: 100px;
  left: 15px;
}
.tours .tours__block .block__text {
  font-family: "Manrope";
  font-size: 44px;
  font-weight: 600;
  padding-bottom: 25px;
}

@media (min-width: 670px) {
  .menu-btn {
    display: none;
  }
}
@media (min-width: 1070px) {
  .tours .tours__block {
    padding-left: 100px;
  }
}
@media (min-width: 1200px) {
  .tours .tours__block {
    padding-left: 200px;
  }
}
.container {
  margin-top: 75px;
  margin-bottom: 50px;
}
.container .card-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px; /*Отступ для точек*/
}
.container .card-list .card-item {
  list-style: none;
}
.container .card-list .card-item .slide .card {
  width: 335px;
  height: 340px;
  border-radius: 30px;
  background-color: #EEEEEE;
}
.container .card-list .card-item .slide .card .card__wrapper {
  display: flex;
}
.container .card-list .card-item .slide .card .month {
  padding-top: 45px;
  padding-left: 25px;
}
.container .card-list .card-item .slide .card .month .month__name {
  font-size: 40px;
  font-weight: 600;
  font-family: "Manrope";
}
.container .card-list .card-item .slide .card .star {
  margin-top: 50px;
  margin-left: 50px;
}
.container .card-list .card-item .slide .card .rectangle {
  border: 1px solid #B2B2B2;
  border-radius: 20px;
  height: 25px;
  width: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card-list .card-item .slide .card .rectangle .rectangle__text {
  color: #B2B2B2;
}
.container .card-list .card-item .slide .card .card__description {
  padding-top: 50px;
  padding-left: 25px;
}
.container .card-list .card-item .slide .card .card__description .description__text {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  font-family: "Manrope";
}

.swiper-button-next,
.swiper-button-prev {
  color: #E95200;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.7;
  background: #E95200;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  opacity: 1;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (min-width: 1070px) {
  .container .card-list .card-item .slide {
    margin-left: 100px;
  }
}
@media (min-width: 1200px) {
  .container .card-list {
    gap: 25px;
  }
  .container .card-list .card-item .slide {
    margin-left: 200px;
  }
}
.questions {
  margin-bottom: 75px;
  z-index: 1;
  padding-left: 15px;
}
.questions .questions__text {
  font-family: "Manrope";
  font-size: 44px;
  font-weight: 600;
  padding-left: 15px;
}
.questions .questions__wrapper {
  display: flex;
  flex-direction: column;
}
.questions .activities {
  margin-top: 30px;
  width: 345px;
  height: 130px;
  border-radius: 30px;
  background-color: #FAFAFA;
  /*margin: 20px auto;*/
}
.questions .activities .activities__text {
  font-family: "Manrope";
  font-size: 30px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 25px;
}

.questions__left__circle {
  position: absolute;
  z-index: -1;
  top: 1000px;
  left: 0px;
}

.questions__right__circle {
  position: absolute;
  z-index: -1;
  top: 500px;
  right: -50px;
}

@media (min-width: 676px) {
  .questions__wrapper {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media (min-width: 1070px) {
  .questions {
    padding-left: 100px;
  }
  .questions__wrapper {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 25px;
  }
  .questions__right__circle {
    right: -85px;
  }
}
@media (min-width: 1200px) {
  .questions {
    padding-left: 200px;
  }
}
@media (min-width: 1400px) {
  .questions__right__circle {
    right: 0px;
  }
}
.contact {
  margin-left: 15px;
}

.contact__div {
  margin-bottom: 50px;
  /*text-align: center;*/
}
.contact__div .contact__text {
  font-family: "Manrope";
  font-size: 44px;
  font-weight: 600;
  line-height: 44px;
}

.form-container {
  width: 60%;
  background-color: #161616;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  min-width: 345px;
  max-width: 700px;
}

.input {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  background-color: #F2F2F2;
}

.input::placeholder {
  color: #A0A0A0;
}

.input:focus {
  outline: none;
}

.form-button {
  width: 73%;
  padding: 15px;
  font-size: 18px;
  font-family: "Manrope";
  font-weight: 400;
  color: #fff;
  background-color: #E95200;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #FF6C1C;
}

.input-wrapper {
  position: relative;
}

.input {
  padding-left: 40px;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #A0A0A0;
}

@media (min-width: 1070px) {
  .form-button {
    width: 38%;
  }
  .input {
    width: 65%;
  }
  .contact__div {
    padding-left: 100px;
  }
  .form-container {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .contact__div {
    padding-left: 200px;
  }
}
.reviews {
  margin-top: 50px;
}
.reviews .your-reviews {
  /*can also be a margin*/
  padding-left: 15px;
}
.reviews .your-reviews .reviews__text {
  font-size: 44px;
  font-weight: 600;
  text-align: left;
  font-family: "Manrope";
}/*# sourceMappingURL=style.css.map */