.form {
    margin-top: 50px;
    form {
        margin: 0 auto;
        padding-bottom: 25px;
        width: 90%;
        min-width: 345px;
        max-width: 757px;
        background-color: #161616;
        border-radius: 30px;
        .block__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding-top: 25px;
            position: relative;
            .contact__text {
                text-align: left;
                font-family: "Manrope";
                font-size: 18px;
                font-weight: 400;
                color: #E95200;
            }
            .input {
                padding-left: 25px;
                padding-right: 45px;
                width: 70%;
                min-width: 305px;
                max-width: 490px;
                height: 55px;
                border: none;
                border-radius: 30px;
                background-color: #F2F2F2;
                font-size: 18px;
            }
            .icon {
                position: absolute;
                //top: 70px;
                //right: 25%;
                top: 50%;
                transform: translate(+50% , +50%);
                left: 78%;
            }
            .input::placeholder {
                color: #A0A0A0;
                font-size: 16px;
            }
            .input:focus {
                outline: none;
            }
        }
        .block__person {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            padding-top: 25px;
            position: relative;
            .person__text {
                text-align: left;
                font-family: "Manrope";
                font-size: 18px;
                font-weight: 400;
                color: #E95200;
            }
            .input {
                padding-left: 25px;
                padding-right: 45px;
                width: 70%;
                min-width: 305px;
                max-width: 490px;
                height: 55px;
                border: none;
                border-radius: 30px;
                background-color: #F2F2F2;
                font-size: 18px;
            }
            .icon {
                position: absolute;
                //top: 70px;
                //right: 25%;
                top: 50%;
                transform: translate(+50% , +50%);
                left: 78%;
            }
            .input::placeholder {
                color: #A0A0A0;
                font-size: 16px;
            }
            .input:focus {
                outline: none;
            }
        }
        .add-person {
            
        }
    }
}