.form {
    margin-top: 50px;
    form {
        margin: 0 auto;
        padding-bottom: 25px;
        width: 90%;
        min-width: 345px;
        max-width: 757px;
        background-color: #161616;
        border-radius: 30px;
        .contact__text {
            padding-top: 25px;
            padding-left: 15%;
            //text-align: left;
            font-family: "Manrope";
            font-size: 18px;
            font-weight: 400;
            color: #E95200;
        }
        .block__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding-top: 25px;
            position: relative;
            
            .input {
                padding-left: 25px;
                padding-right: 45px;
                width: 70%;
                min-width: 305px;
                max-width: 490px;
                height: 55px;
                border: none;
                border-radius: 30px;
                background-color: #F2F2F2;
                font-size: 18px;
            }
            .icon {
                position: absolute;
                //top: 70px;
                //right: 25%;
                top: 50%;
                transform: translate(+50% , +50%);
                left: 78%;
            }
            .input::placeholder {
                color: #A0A0A0;
                font-size: 16px;
            }
            .input:focus {
                outline: none;
            }
        }
        .person__text {
            padding-top: 25px;
            padding-left: 15%;
            text-align: left;
            font-family: "Manrope";
            font-size: 18px;
            font-weight: 400;
            color: #E95200;
        }
        .block__person {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            padding-top: 25px;
            position: relative;
            .input {
                padding-left: 25px;
                padding-right: 45px;
                width: 70%;
                min-width: 305px;
                max-width: 490px;
                height: 55px;
                border: none;
                border-radius: 30px;
                background-color: #F2F2F2;
                font-size: 18px;
            }
            .icon {
                position: absolute;
                top: 50%;
                transform: translate(+50% , +50%);
                left: 78%;
            }
            .input::placeholder {
                color: #A0A0A0;
                font-size: 16px;
            }
            .input:focus {
                outline: none;
            }
        }
        .add-person {
            padding-top: 25px;
            padding-left: 15%;
            display: flex;
            flex-direction: row;
            gap: 15px;
            .add__button {
                background: none;
                border: none;
            }
            .add__block {
                display: flex;
                flex-direction: column;
                gap: 5px;
                .block__title {
                    font-family: "Manrope";
                    font-size: 18px;
                    font-weight: 600;
                    color: #FFFFFF;

                }
                .block__desc {
                    font-family: "Manrope";
                    font-size: 10px;
                    font-weight: 400;
                    color: #F6C229;
                }
            }
        }
        .comment {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 25px;
            // padding-left: 15%;
            .comment__area {
                width: 90%;
                min-width: 270px;
                max-width: 490px;
                height: 150px;
                resize: vertical;
                border-radius: 30px;
                border: none;
                font-size: 18px;
                padding-top: 25px;
                padding-left: 25px;
            }
            .comment__area::placeholder {
                text-align: center;
                //padding-top: 10px;
                color: #A0A0A0;
                font-size: 18px;
            }
            .comment__area:focus {
                outline: none;
            }
        }
        .acception__block {
            display: flex;
            flex-direction: row;
            // justify-content: center;
            // align-items: center;
            gap: 15px;
            padding-top: 25px;
            padding-left: 15%;
            padding-right: 15%;
            .acception__text {
                font-family: "Manrope";
                font-size: 10px;
                font-weight: 400;
                color: #FFFFFF;
                a {
                    text-decoration: none;
                    color: #F6C229;
                }
            }
        }
        .accept-button {
            padding-top: 25px;
            //padding-left: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                width: 250px;
                height: 65px;
                padding: 15px;
                font-size: 24px;
                font-family: "Manrope";
                font-weight: 400;
                color: #fff;
                background-color: #E95200;
                border: none;
                border-radius: 30px;
                cursor: pointer;
                &:hover {
                    background-color: #FF6C1C;
                }
            }
        }
    }
}

@media (min-width: 670px) {
    .contact__text {
        font-size: 22px !important;
    }
    .person__text {
        font-size: 22px !important;
    }
    .block__title {
        font-size: 22px !important;
    }
    .block__desc {
        font-size: 14px !important;
    }
    .acception__text {
        font-size: 14px !important;
    }
    .accept-button {
        button {
            font-size: 28px;
            width: 290px;
        }
    }
}