.questions {
    margin-bottom: 75px;
    //position: relative;
    z-index: 1;
    padding-left: 15px;
    .questions__text {
        font-family: "Manrope";
        font-size: 44px;
        font-weight: 600;
        padding-left: 15px;
    }
    .questions__wrapper {
        
        display: flex;
        flex-direction: column;
    }
    .activities {
        margin-top: 30px;
        width: 345px;
        height: 130px;
        border-radius: 30px;
        background-color: #FAFAFA;
        /*margin: 20px auto;*/
        .activities__text {
            font-family: "Manrope";
            font-size: 30px;
            font-weight: 600;
            padding-top: 30px;
            padding-left: 25px;
        }
    }
}

@media (min-width: 676px) {
    .questions__wrapper {
        flex-direction: row !important;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media (min-width: 1070px) {
    .questions {
        padding-left: 100px;
    }
    .questions__wrapper {
        flex-direction: row !important;
        flex-wrap: wrap;
        gap: 25px;
    }
}

@media (min-width: 1200px) {
    .questions {
        padding-left: 200px;
    }
}

