.reviews {
    margin-top: 50px;
    
    
    .your-reviews {
        /*can also be a margin*/
        padding-left: 15px;
        .reviews__text {
            font-size: 44px;
            font-weight: 600;
            text-align: left;
            font-family: "Manrope";
        }
    }
}



@media (min-width: 1070px) {
    .reviews {
        .your-reviews {
            padding-left: 100px;
        }
    }  
}



@media (min-width: 1200px) {
    .reviews {
        .your-reviews {
            padding-left: 200px;
        }
    }
    
}


