.slider {
    margin-bottom: 50px;
    .card-list {
        display: flex;
        flex-direction: row;
        //gap: 3%;/*Расстояние между слайдами*/
        margin-bottom: 50px;/*Отступ для точек*/
        .card-item {
            list-style: none;
            .slide {               
                .card {
                    width: 335px;
                    height: 340px;
                    border-radius: 30px;
                    background-color: #FAFAFA;
                    .card__wrapper {
                        display: flex;
                    }
                    .card__link {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        padding-left: 25px;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        .link__container {
                            display: flex;
                            gap: 25px;
                            .link__text {
                                text-decoration: none;
                                color: #EEEEEE;
                            }
                        }
                    }
                    .month {
                        padding-top: 45px;
                        padding-left: 25px;
                        .month__name {
                            font-size: 40px;
                            font-weight: 600;
                            font-family: "Manrope";

                        }
                    }
                    .star {
                        margin-top: 50px;
                        margin-left: 50px;
                        
                    }
                    .rectangle {
                        border: 1px solid #B2B2B2;
                        border-radius: 20px;
                        height: 25px;
                        width: 50px;
                        margin-top: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .rectangle__text {
                            //text-align: center;
                            //padding: 3px 0px 3px 10px;
                            color: #B2B2B2;
                        }
                    }
                    .card__description {
                        padding-top: 50px;
                        padding-left: 25px;
                        .description__text {
                            text-align: left;
                            font-size: 12px;
                            font-weight: 400;
                            font-family: "Manrope";
                        }

                    }
                }
            }
        }
    }
  
}

.slider-1 {
    margin-top: 75px;
}

.slider-2 {
    margin-top: 15px;
    .card {
        .card__container {
            padding-left: 25px;
            padding-top: 55px;
            display: flex;
            gap: 25px;
            .info__name {
                text-align: left;
                font-family: "Manrope";
                font-size: 18px;
                font-weight: 600;
                
            }
            .info__date {
                padding-top: 5px;
                text-align: left;
                font-family: "Manrope";
                font-size: 10px;
                font-weight: 400;
                color: #E95200;
            }
        }
        .card__description {
            text-align: left;
            font-family: "Manrope";
            font-size: 12px;
            font-weight: 400;
        }
    }
      
}

.slider-3 {
    .slide {
        width: 360px;
        height: 340px;
        .card__image {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

.slider-4 {
    .card-item {
        .activity {
            .slide {
                //outline: 2px solid black;
                width: 345px;
                //height: 130px;
                
                .activities {
                    width: 100%;
                    //height: 100%;
                    height: 130px;
                    border-radius: 30px;
                    background-color: #FAFAFA;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .activities__text {
                        font-family: "Manrope";
                        font-size: 30px;
                        font-weight: 600;
                    }
                }
                .whatToDo {
                    background-color: #161616;
                    border-radius: 30px;
                    padding: 15px;
                    .whatToDo__item {
                        height: 55px;
                        padding: 5px 10px;
                        color: #FFFFFF;
                        font-size: 15px;
                        border-radius: 30px;
                        border: 1px solid #FFFFFF;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    
}

.activities__text.active {
    color: #FFFFFF;
}

.activities.active {
    background-color: #E95200 !important;
}

.hidden {
    display: none !important;
}

.card.active {
    background-color: #E95200 !important;
    height: auto !important;
    .month__name {
        color: #FAFAFA;
    }
    .description__text {
        color: #FAFAFA;
    }
    .rectangle__text {
        color: #FAFAFA !important;
    }
    .rectangle {
        border: 1px solid #FAFAFA !important;
    }
}




.swiper-button-next,
.swiper-button-prev {
    color: #E95200;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.7;
    background: #E95200;
}

.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    opacity: 1;
}

@media (min-width: 600px) {
    .card {
        width: 360px !important;
    }
    .slider-3 {
        .slide {
            width: 380px !important;
        }
    }
}

@media (max-width: 600px) {
    .slider-4 {
        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        
        .swiper-button-prev,
        .swiper-button-next,
        .swiper-pagination {
            display: none; /* Скрываем кнопки и пагинацию */
        }
    }
    
}

@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    // .card {
    //     width: 335px !important;
    // }
    // .slider-3 {
    //     .card__image {
    //         width: 335px !important;
    //     }
    // }
    
}

@media (max-width: 1070px) {
    .slider {
        .container {
            margin-left: 20px;// the space between slider-container and left border
        }
    }
}

@media (min-width: 1070px) {
    .slider,
    .slider-4 {
        .container {
            margin-left: 100px;
        }
    }
    // .slider-2 ,
    // .slider-3 {
    //     .container {
    //         .card-list {
    //             .card-item {
    //                 .slide {
    //                     margin-left: 100px !important;
    //                 }
    //             }
    //         }
    //     }
    // }
}

@media (min-width: 1200px) {
    .slider,
    .slider-4 {
        .container {
            margin-left: 200px;
        }
    }
    // .slider-2 ,
    // .slider-3 {
    //     .container {
    //         .card-list {
    //             .card-item {
    //                 .slide {
    //                     margin-left: 200px !important;
    //                 }
    //             }
    //         }
    //     }
    // }
}

