.slider {
    margin-bottom: 50px;
    .card-list {
        display: flex;
        flex-direction: row;
        //gap: 3%;/*Расстояние между слайдами*/
        margin-bottom: 50px;/*Отступ для точек*/
        .card-item {
            list-style: none;
            .slide {
                .card {
                    width: 360px;
                    height: 340px;
                    border-radius: 30px;
                    background-color: #EEEEEE;
                    .card__wrapper {
                        display: flex;
                    }
                    .month {
                        padding-top: 45px;
                        padding-left: 25px;
                        .month__name {
                            font-size: 40px;
                            font-weight: 600;
                            font-family: "Manrope";

                        }
                    }
                    .star {
                        margin-top: 50px;
                        margin-left: 50px;
                        
                    }
                    .rectangle {
                        border: 1px solid #B2B2B2;
                        border-radius: 20px;
                        height: 25px;
                        width: 50px;
                        margin-top: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .rectangle__text {
                            //text-align: center;
                            //padding: 3px 0px 3px 10px;
                            color: #B2B2B2;
                        }
                    }
                    .card__description {
                        padding-top: 50px;
                        padding-left: 25px;
                        .description__text {
                            text-align: left;
                            font-size: 12px;
                            font-weight: 400;
                            font-family: "Manrope";
                        }

                    }
                }
            }
        }
    }
  
}

.slider-1 {
    margin-top: 75px;
}

.slider-2 {
    margin-top: 15px;
    .card {
        .card__container {
            padding-left: 25px;
            padding-top: 55px;
            display: flex;
            gap: 25px;
            .info__name {
                text-align: left;
                font-family: "Manrope";
                font-size: 18px;
                font-weight: 600;
                
            }
            .info__date {
                padding-top: 5px;
                text-align: left;
                font-family: "Manrope";
                font-size: 10px;
                font-weight: 400;
                color: #E95200;
            }
        }
        .card__description {
            text-align: left;
            font-family: "Manrope";
            font-size: 12px;
            font-weight: 400;
        }
    }
      
}

.slider-3 {
    .slide {
        width: 360px;
        height: 340px;
        .card__image {
            display: block;
        }
    }
}

.slider-4 {
    .slide {
        width: 345px;
        height: 130px;
        .activities {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-color: #FAFAFA;
            display: flex;
            justify-content: center;
            align-items: center;
            .activities__text {
                font-family: "Manrope";
                font-size: 30px;
                font-weight: 600;
                
            }
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #E95200;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.7;
    background: #E95200;
}

.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    opacity: 1;
}


@media (max-width: 600px) {
    .slider-4 {
        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        .swiper-button-prev,
        .swiper-button-next,
        .swiper-pagination {
            display: none; /* Скрываем кнопки и пагинацию */
    }
    }
    
}

@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    // .card {
    //     width: 335px !important;
    // }
    // .slider-3 {
    //     .card__image {
    //         width: 335px !important;
    //     }
    // }
    
}

@media (min-width: 1070px) {
    .container {
        .card-list {
            //gap: 0px;
            .card-item {
                .slide {
                    margin-left: 100px;
                }
            }
        }
    }
    
}

@media (min-width: 1200px) {
    .container {
        .card-list {
            // gap: 25px;
            .card-item {
                .slide {
                    margin-left: 200px;
                }
            }
        }
    }
    
}

