.contact-button {
    position: fixed;
    z-index: 2; 
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background-image: url('images/Contact-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-image 0.3s ease-out;
}

.contact-button:hover {
    background-image: url('images/Contact-hover.svg');
}

.menu-btn {
    background: none;
    border: none;
    padding-top: 15px;
    //padding-right: 15px;
    cursor: pointer;
    img {
        width: 30px;
        height: 30px;
    }
}


ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .nav__text {
        text-decoration: none;
        font-family: "Manrope";
        font-size: 40px;
        font-weight: 600;
        color: #000000;
        &:hover {
            color: #E95200;
        }
    }
}


.hidden {
    display: none;
}

#menu {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tours {
    //padding-bottom: 350px;
    .tours__block {
        position: absolute;
        top: 100px;
        left: 15px;
        .block__text {
            font-family: "Manrope";
            font-size: 44px;
            font-weight: 600;
            padding-bottom: 25px;
        }
    }
    margin-bottom: 100px;
}

@media (min-width: 670px) {
    .menu-btn  {
        display: none;
    }
    #menu {
        display: none;
    }
}

@media (min-width: 1070px) {
    .tours {
        .tours__block {
            padding-left: 100px;
        }
    }
}

@media (min-width: 1200px) {
    .tours {
        .tours__block {
            padding-left: 200px;
        }
    }
}

